@model Pedido
@{
    ViewData["Title"] = "Visualizar";
    TransacaoPagarMe transacao = JsonConvert.DeserializeObject<TransacaoPagarMe>(Model.DadosTransaction);
    List<ProdutoItem> produtos = JsonConvert.DeserializeObject<List<ProdutoItem>>(Model.DadosProdutos, new JsonSerializerSettings() { ContractResolver = new ProdutoItemResolver<List<ProdutoItem>>() });
    var aniversario = DateTime.Parse(transacao.Customer.Birthday);
}
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <vc:pedido-situacao pedido="@Model" />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-12">
            <h3>Dados pedido</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="2"><strong>Situação do pedido:</strong> @Model.Situacao</td>
                    
                </tr>
                <tr>
                    <td><strong>Cliente:</strong> @transacao.Customer.Name</td>
                    <td><strong>Nascimento:</strong> @aniversario.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td><strong>Forma de pagamento: </strong>@Model.FormaPagamento</td>
                    <td><strong>Nota Fiscal Eletrônica: </strong>- @Model.NFE</td>
                </tr>
            </table>


            <h3>Entrega</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="4">
                        <strong>Endereço de entrega: </strong>@transacao.Shipping.Name
                    </td>
                </tr>
                <tr>
                    <td><strong>CEP:</strong> @transacao.Shipping.Address.Zipcode</td>
                    <td><strong>Estado:</strong> @transacao.Shipping.Address.State</td>
                    <td><strong>Cidade:</strong> @transacao.Shipping.Address.City</td>
                    <td><strong>Bairro:</strong> @transacao.Shipping.Address.Neighborhood</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Endereço: </strong> @transacao.Shipping.Address.Street</td>
                    <td><strong>Complemento: </strong>@transacao.Shipping.Address.Complementary</td>
                    <td><strong>Número: </strong>@transacao.Shipping.Address.StreetNumber</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Transportadora:</strong> @Model.FreteEmpresa</td>
                    <td><strong>Valor do frete:</strong> @Mascara.ConverterPagarMeIntToDecimal(transacao.Shipping.Fee).ToString("C")</td>
                    <td><strong>Rastreamento: </strong> - @Model.FreteCodRastreamento</td>
                </tr>
            </table>

            <h3>Lista de produtos</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Quantidade</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>TOTAL</th>
                </tr>

                @foreach (var produto in produtos)
                {
                    <tr>
                        <td>@produto.UnidadesPedidas</td>
                        <td>@produto.Nome</td>
                        <td>@produto.Valor.ToString("C")</td>
                        <td>@((produto.Valor * produto.UnidadesPedidas).ToString("C"))</td>
                    </tr>
                }

                <tr>
                    <td colspan="3"><strong>FRETE</strong></td>
                    <td>@Mascara.ConverterPagarMeIntToDecimal(transacao.Shipping.Fee).ToString("C")</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>TOTAL</strong></td>
                    <td>@Model.ValorTotal.ToString("C")</td>
                </tr>
            </table>

            <br />
            <br />
            <button class="btn btn-outline-primary btn-lg btn-imprimir">Imprimir</button>
        </div>
    </div>
</div>