@{
    var TodasCategorias = (List<Categoria>)ViewData["TodasCategorias"];
    var CategoriaPai = (Categoria)ViewData["CategoriaPai"];

    var CategoriasFilho = TodasCategorias.Where(a => a.CategoriaPaiId == CategoriaPai.Id);
}
@if (CategoriasFilho.Count() > 0)
{
    <li class="dropdown-submenu">
        <a class="dropdown-item" tabindex="-1" asp-controller="Produto" asp-action="ListagemCategoria" asp-route-slug="@CategoriaPai.Slug">@CategoriaPai.Nome</a>
        <ul class="dropdown-menu">
            @foreach (var categoriaF in CategoriasFilho)
            {
                @if (TodasCategorias.Where(a => a.CategoriaPaiId == categoriaF.Id).Count() > 0)
                {
                    ViewData.Remove("CategoriaPai");
                    //Apresentação do Submenu - Recursivo
                    @await Html.PartialAsync("~/Views/Shared/Components/Menu/_Submenu.cshtml", new ViewDataDictionary(ViewData) { { "CategoriaPai", categoriaF } })
                }
                else
                {
                    <li class="dropdown-item"><a  asp-controller="Produto" asp-action="ListagemCategoria" asp-route-slug="@categoriaF.Slug">@categoriaF.Nome</a></li>
                }
            }
        </ul>
    </li>
}
else
{
    <li class="dropdown-item"><a asp-controller="Produto" asp-action="ListagemCategoria" asp-route-slug="@CategoriaPai.Slug">@CategoriaPai.Nome</a></li>
}