@model List<PedidoSituacaoStatus>
@{
    ViewData["Title"] = "Default";
    var quebraLinha = 0;
}

@if (Model != null)
{
<ul class="timeline" id="timeline">
    @foreach (var pedidoStatus in Model)
    {
        quebraLinha++;
        <li class="li @((pedidoStatus.Concluido) ? pedidoStatus.Cor : "")">
            <div class="timestamp">
                <span class="date"> @((pedidoStatus.Data != null) ? pedidoStatus.Data.ToString() : "-") <span>
            </div>
            <div class="status">
                <h4> @pedidoStatus.Situacao </h4>
            </div>
        </li>

        if (quebraLinha == 5)
        {
            @Html.Raw("</ul>");
            @Html.Raw("<ul class='timeline' id=\"timeline\">");
            quebraLinha = 0;
        }
    }
</ul>
}