@model IPagedList<Pedido>
@{
    ViewData["Title"] = "Index";
    var codigoPedido = Context.Request.Query["codigoPedido"];
    var cpf = Context.Request.Query["cpf"];
}

<br />
<br />
<div class="container">

    <form method="get" class="form-inline">

        <label for="numeroPedido">Nº pedido</label>
        <input type="text" name="codigoPedido" class="form-control" value="@codigoPedido" id="numeroPedido">

        <label for="cpf">CPF</label>
        <input type="text" name="cpf" class="form-control" value="@cpf" id="cpf">

        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>


    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }

    @if (Model.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nº Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Data compra</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Forma pagamento</th>
                        <th scope="col">Situação</th>
                        <th scope="col">NF-e</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model)
                    {
                        <tr>
                            <td>@pedido.Id-@pedido.TransactionId</td>
                            <td>@pedido.Cliente.Nome  - @pedido.Cliente.CPF</td>
                            <td>@pedido.DataRegistro.ToString("dd/MM/yyyy")</td>
                            <td>@pedido.ValorTotal.ToString("C")</td>
                            <td>@pedido.FormaPagamento</td>
                            <td>@pedido.Situacao</td>
                            <td>@Html.Raw(pedido.NFE == null ? "-" : "<a href='" + pedido.NFE + "' target='_blank'>NF-e</a>")</td>
                            <td>
                                <a asp-action="Visualizar" asp-route-id="@pedido.Id">Visualizar</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, codigoPedido = codigoPedido, cpf = cpf }))


</div>