
@{
    ViewData["Title"] = "Painel";
}

<h1>Painel</h1>
<br /><br />
<h3>Gerais</h3>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header">Clientes</h5>
            <div class="card-body text-center">
                <p style="font-size: 48px">@ViewBag.Clientes</p>
                <a asp-controller="Cliente" asp-action="Index" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header">Newsletter</h5>
            <div class="card-body text-center">
                <p style="font-size: 48px">@ViewBag.Newsletter</p>
                <a asp-action="GerarCSVNewsletter" target="_blank" class="btn btn-primary">Gerar arquivo</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header">Produtos</h5>
            <div class="card-body text-center">
                <p style="font-size: 48px">@ViewBag.Produto</p>
                <a asp-controller="Produto" asp-action="Index" class="btn btn-primary">Gerenciar</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<h3>Vendas</h3>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header">NÚMERO DE VENDAS</h5>
            <div class="card-body text-center">
                <p style="font-size: 48px"> @ViewBag.NumeroPedidos</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header">TOTAL VENDIDO</h5>
            <div class="card-body">
                <p style="font-size: 48px">@ViewBag.ValorTotalPedidos.ToString("C")</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header">FORMA DE PAGAMENTO</h5>
            <div class="card-body">
                <h5 class="card-title">
                    <strong>Boleto: </strong>@ViewBag.QuantidadeBoletoBancario
                    <br />
                    <strong>Cartão de Crédito:</strong> @ViewBag.QuantidadeCartaoCredito
                </h5>
            </div>
        </div>
    </div>
</div>