@model LojaVirtual.Models.Produto

<br style="clear: both" />
<div class="container">

    <section id="product_detail">
        <div id="code_prod_detail">
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-sm-5 border-right">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div>
                                    @if (Model.Imagens != null && Model.Imagens.Count > 0)
                                    {
                                        <a href="@Model.Imagens.ElementAt(0).Caminho" data-fancybox><img src="@Model.Imagens.ElementAt(0).Caminho"></a>
                                    }
                                    else
                                    {
                                        <a href="~/img/imagem-produto.png" data-fancybox><img src="~/img/imagem-produto.png"></a>
                                    }
                                </div>
                            </div> <!-- slider-product.// -->
                            <div class="img-small-wrap">
                                @if (Model.Imagens != null && Model.Imagens.Count > 0)
                                {
                                    foreach (Imagem imagem in Model.Imagens)
                                    {
                                        <div class="item-gallery"> <img src="@imagem.Caminho"></div>
                                    }
                                }
                            </div> <!-- slider-nav.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <aside class="col-sm-7">
                        <article class="p-5">
                            <h3 class="title mb-3">@Model.Nome</h3>
                            <div class="mb-3">
                                <var class="price h3 text-warning">
                                    <span class="num">@Model.Valor.ToString("C")</span>
                                </var>
                                <span>/unid</span>
                            </div> <!-- price-detail-wrap .// -->
                            <dl>
                                <dt>Descrição</dt>
                                <dd>
                                    <p>
                                        @Model.Descricao
                                    </p>
                                </dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3">Peso(kg)</dt>
                                <dd class="col-sm-9">@Model.Peso</dd>
                                <dt class="col-sm-3">Largura</dt>
                                <dd class="col-sm-9">@Model.Largura</dd>
                                <dt class="col-sm-3">Altura</dt>
                                <dd class="col-sm-9">@Model.Altura</dd>
                                <dt class="col-sm-3">Comprimento</dt>
                                <dd class="col-sm-9">@Model.Comprimento</dd>
                                <dt class="col-sm-3">Quantidade em estoque</dt>
                                <dd class="col-sm-9">@Model.Quantidade</dd>
                            </dl>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <dl class="dlist-inline">
                                        <dt>Quantity: </dt>
                                        <dd>
                                            <select class="form-control form-control-sm" style="width:70px;">
                                                <option> 1 </option>
                                                <option> 2 </option>
                                                <option> 3 </option>
                                            </select>
                                        </dd>
                                    </dl>  <!-- item-property .// -->
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr>
                            <a href="#" class="btn  btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Adicionar ao Carrinho </a>
                        </article> <!-- card-body.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
        </div> <!-- code-wrap.// -->
    </section>
</div>