@model X.PagedList.IPagedList<LojaVirtual.Models.ProdutoAgregador.Produto>
@{
    ViewData["Title"] = "Index";
    var pesquisa = Context.Request.Query["pesquisa"];
}

<h1>Produto</h1>

<br />
<br />
<!--
    Formulário
    -- QueryString: Colaborador/Cliente/Index?pesquisa={palavraDigitada}&pagina=3
-->
<form method="get">
    <div class="form-group">
        <label for="pesquisa"></label>
        <input type="text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite o nome do produto">
    </div>
    <button type="submit" class="btn btn-primary">OK</button>
</form>
<br />
<br />

@{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }

<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>

@if (Model.Count > 0)
{

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Categoria)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Valor)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Produto produto in Model)
                {
                    <tr>
                        <th scope="row">@produto.Id</th>
                        <td>@produto.Nome</td>
                        <td>@produto.CategoriaId</td>
                        <td>@produto.Valor</td>
                        <td>
                            <a asp-action="Atualizar" asp-route-id="@produto.Id" class="btn btn-secondary">Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@produto.Id" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, pesquisa = pesquisa }))

}
else
{
    <span>Nenhum registro cadastrado!</span>
}